body {
  background-color: rgb(185, 215, 243);
  font-family: "Noto Sans", sans-serif;
}
a {
  color: rgb(185, 215, 243);
}
.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
header {
  border-bottom: 1px solid rgb(185, 215, 243);
  padding: 0 0 30px 0;
}
.search-input {
  background-color: rgb(185, 215, 243);
  color: rgb(38, 31, 31, 0.4);
  padding: 20px;
  border-radius: 5px;
  width: 75%;
  font-size: 16px;
  border: none;
}
.search-button {
  background-color: rgb(185, 215, 243);
  color: white;
  padding: 20px;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 5px;
  border: none;
}
.current-weather-data {
  display: flex;
  justify-content: space-between;
}
.current-city {
  font-size: 38px;
  font-weight: 700;
  margin: 0;
}
.current-details {
  color: rgb(160, 157, 157);
  font-weight: 400;
  line-height: 1.5;
}
.current-details strong {
  color: rgb(239, 91, 91);
  font-weight: 400;
}
.current-temp {
  display: flex;
}
.current-temp-icon {
  font-size: 44px;
  margin-top: 22px;
}
.current-temp-value {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
}
.current-temp-unit {
  font-size: 28px;
  margin-top: 16px;
  font-weight: 300;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temps {
  font-size: 13px;
}
.weather-forecast-temp-lo {
  opacity: 0.5;
}
footer {
  border-top: 1px solid rgb(185, 215, 243);
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
}
