body {
  background-color: rgb(185, 215, 243);
  font-family: "Noto Sans", sans-serif;
}
a {
  color: rgb(185, 215, 243);
}
.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
header {
  border-bottom: 1px solid rgb(185, 215, 243);
  padding: 0 0 30px 0;
}
.search-input {
  background-color: rgb(185, 215, 243);
  color: rgb(38, 31, 31, 0.4);
  padding: 20px;
  border-radius: 5px;
  width: 75%;
  font-size: 16px;
  border: none;
}
.search-button {
  background-color: rgb(185, 215, 243);
  color: white;
  padding: 20px;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 5px;
  border: none;
}
footer {
  border-top: 1px solid rgb(185, 215, 243);
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
}
